<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="uv_lamp" params="name parent_link *origin">
    <link name="${name}_link">

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://disinfectbot_description/meshes/Lamp2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="white">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://disinfectbot_description/meshes/Lamp2.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>

      <inertial>
        <mass value="1.0"/>
        <origin xyz="-0.020181 -0.000000002 0.000000001"/>
        <inertia ixx="0.005460" ixy="0.000000000193" ixz="-0.000000000018"
                iyy="0.000523" iyz="0.000000000069"
                izz="0.005257"/>
      </inertial>
    </link>

    <joint name="${name}_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${name}_link"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${name}_link">
      <material>Gazebo/White</material>
    </gazebo>
  </xacro:macro>

</robot>
