<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<xacro:macro name="l_bracket" params="name parent_link *origin">
  <xacro:property name="bracket_mass" value="0.5"/> 

  <link name="${name}_link">
    <!-- Visuals -->
    <visual>
      <origin xyz="0.0 0.0 0.1" rpy="0 0 ${pi/2}"/>
      <geometry>
        <box size="0.01 0.002 0.2"/>
      </geometry>
      <material name="black">
        <color rgba="0.1 0.1 0.1 1"/>
      </material>
    </visual>

    <visual>
      <origin xyz="0.0375 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.01 0.002"/>
      </geometry>
    </visual>

    <!-- Collisions -->
    <collision>
      <origin xyz="0.0 0.0 0.05" rpy="0 0 0"/>
      <geometry>
        <box size="0.002 0.02 0.1"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0375 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <box size="0.075 0.02 0.002"/>
      </geometry>
    </collision>

    <!-- Inertial: treat entire bracket as one cuboid -->
    <xacro:inertial_cuboid_with_pose mass="${bracket_mass}" x="0.075" y="0.02" z="0.1">
      <origin xyz="0.0375 0 0.05" rpy="0 0 0"/>
    </xacro:inertial_cuboid_with_pose>
  </link>

  <joint name="${name}_joint" type="fixed">
    <parent link="${parent_link}"/>
    <child link="${name}_link"/>
    <xacro:insert_block name="origin"/>
  </joint>

  <gazebo reference="${name}_link">
    <material>Gazebo/Black</material> 
  </gazebo>
</xacro:macro>
</robot>
